@use "../../style/vars";
@use "../../style/mixins";

.form {
  background-color: vars.$fourthColor;
  color: vars.$mainColor;
  margin: 0 auto;
  h2 {
    @include mixins.titleH2;
  }
}

.form-fields {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;

  //   label {
  //     margin-bottom: 0.5rem;
  //   }
  input {
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 0.5rem;
  }
  .textarea {
    margin-bottom: 0.5rem;
  }
  button {
    font-size: 1.2rem;
    // margin: 0.5rem auto;
  }
}
