@use "../../style/vars";
@use "../../style/mixins";

.form {
  background-color: vars.$fourthColor;
  color: vars.$mainColor;
  margin: 0 auto;
  &-title {
    @include mixins.titleH2;
    margin-bottom: 2rem;
    padding-left: 4rem;
  }
}

.form-fields {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;

  input {
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 0.5rem;
  }
  .textarea {
    margin-bottom: 0.5rem;
    min-height: 100px;
  }
  button {
    font-size: 1rem;
    background-color: white;
    margin: auto;
    border: 1px solid vars.$mainColor;
    cursor: pointer;
  }
}
