@use "../../style/vars";
@use "../../style/mixins";

.portfolio {
  background-color: #9ac6c5;
  &-title {
    display: flex;
    justify-content: center;
    @include mixins.titleH1;
    padding-top: 4rem;
    color: vars.$mainColor;
  }

  .section {
    margin: auto 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .left {
    flex: 0.5;
    .imgContainer {
      width: 600px;
      height: 325px;
      background-color: #454a67;
      border-radius: 5%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;
      margin-top: 2rem;
    }
  }
  .right {
    flex: 0.5;
    .wrapper {
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h2 {
      display: flex;
      justify-content: center;
      margin-bottom: 0.5rem;
    }
    h3 {
      font-size: 30px;
      color: vars.$mainColor;
      display: flex;
      justify-content: center;
    }
    p {
      margin: 0.5rem auto;
    }
    a {
      width: 200px;
      margin: 0.5rem auto;
      padding: 0.2rem;
      background-color: vars.$lightColor;
      color: white;
      border-radius: 0.2rem;
      border: 1px solid black;
      text-decoration: none;
      text-align: center;
      &:hover {
        background-color: white;
        color: vars.$mainColor;
        transition: 0.5s;
        cursor: pointer;
      }
    }
  }
}
