@use "../../style/vars";
@use "../../style/mixins";

.skills {
  background-color: vars.$thirdColor;
  color: vars.$mainColor;
  overflow-y: hidden;
  height: calc(100vh - 70px);

  &-title {
    display: flex;
    justify-content: center;
    @include mixins.titleH1;
    padding-top: 4rem;

    @media screen and (min-width: 390px) and (max-width: 740px) {
      padding-top: 1rem;
    }
  }
  &-subtitle {
    @include mixins.titleH2;
    padding-left: 4rem;
    @media screen and (min-width: 390px) and (max-width: 740px) {
      text-align: center;
      padding: 0;
      font-size: 20px;
    }
  }
  &-list {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;

    @media screen and (min-width: 390px) and (max-width: 740px) {
      width: 100vw;
    }

    &-skill {
      width: 7em;
      background-color: vars.$hoverColor;
      margin: 3em 3em 1em 0;
      min-height: 7em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1em;
      border-radius: 0.5em;
      font-size: 0.8em;
      text-align: center;

      @media screen and (min-width: 390px) and (max-width: 740px) {
        margin: 1rem;
        padding: 0;
      }

      &:hover {
        transition: 0.8s;
        box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.4);
      }

      &-icon {
        padding: 1em 2em;
        width: 40px;
        height: 40px;
      }
    }
  }
}
