@use "../../style/vars";
@use "../../style/mixins";

.contact {
  background-color: vars.$fourthColor;
  color: vars.$mainColor;
  //   max-height: 500px;
  padding-top: 4rem;
  @media screen and (min-width: 390px) and (max-width: 740px) {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &-title {
    @include mixins.titleH1;
    display: flex;
    justify-content: center;
  }
  &-container {
    padding: 4rem;
    @media screen and (min-width: 390px) and (max-width: 740px) {
      padding: 1rem;
    }
  }

  .left {
    &-title {
      @include mixins.titleH2;
      margin-bottom: 1rem;
    }

    p {
      font-weight: 300;
      line-height: 1.2rem;
      margin-bottom: 1rem;
      @media screen and (min-width: 390px) and (max-width: 740px) {
        font-size: 0.9rem;
      }
    }
  }

  .right {
    padding-top: 2rem;
    &-title {
      margin-bottom: 1rem;
      font-size: 1.2rem;
      @include mixins.titleH2;
    }

    &-links {
      display: flex;
      @media screen and (max-width: 320px) {
        font-size: 0.9em;
      }
    }

    &-content {
      @media screen and (max-width: 1024px) {
        width: fit-content;
      }
      padding: 0.5em;
      border-radius: 0.1em;
      button {
        @include mixins.buttonLink;
        margin: 2rem auto;

        &:hover {
          background-color: vars.$secondaryColor;
          transition: 0.3s;
        }
      }

      p {
        margin-bottom: 0.5em;
        margin-left: 1rem;
        color: darken($color: vars.$lightColor, $amount: 40);
        img {
          filter: invert(100%);
          width: 10px;
          margin-right: 0.3em;
        }
        a {
          color: vars.$mainColor;
          font-weight: 500;
          text-decoration: none;
        }
        span {
          color: vars.$mainColor;
          font-weight: 500;
        }
      }
    }
  }
}

// Light mode style
#light-mode {
  .right-links {
    a {
      background-color: vars.$mainColor;
      &:hover {
        background-color: darken($color: vars.$mainColor, $amount: 20%);
        transition: 0.3s;
      }
    }

    button {
      background-color: vars.$secondaryColor;
      &:hover {
        background-color: darken($color: vars.$secondaryColor, $amount: 20%);
        transition: 0.3s;
      }
    }
  }

  .right-content {
    a {
      color: vars.$darkColor;
    }

    img {
      filter: invert(0);
    }
  }
}
