@use "./vars";

@mixin titleH1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  font-weight: 500;
}
@mixin titleH2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 400;
}
@mixin buttonLink {
  display: block;
  width: fit-content;
  color: vars.$lightColor;
  text-decoration: none;
  font-size: 1em;
  padding: 0.8em;
  border-radius: 0.1em;
  margin-bottom: 1em;

  img {
    filter: invert(100%);
    transform: rotate(180deg);
    width: 10px;
  }

  &:nth-child(1) {
    margin-right: 1em;
    background-color: darken($color: vars.$mainColor, $amount: 20%);

    &:hover {
      background-color: vars.$mainColor;
      transition: 0.3s;
    }
  }

  &:nth-child(2) {
    margin-right: 1em;
    background-color: darken($color: vars.$secondaryColor, $amount: 20%);

    &:hover {
      background-color: vars.$secondaryColor;
      transition: 0.3s;
    }
  }
}
