// COLORS :
$backgroundColor: #121212;
$darkColor: #121212;
$lightColor: #7785ac;
$mainColor: #36127e;
$secondaryColor: #9ac6c5;
$thirdColor: #a5e6ba;
$hoverColor: rgba(196, 196, 196, 0.12);
$hoverColorLight: rgba(109, 109, 109, 0.12);

//Media-queries
$small-screen: "screen and (max-width: 540px)";
$large-screen: "screen and (min-width: 740px)";
