@use "src/style/vars";

body {
  font-family: "Roboto", sans-serif;

  ::selection {
    background-color: vars.$mainColor;
  }

  #dark-mode {
    background-color: vars.$backgroundColor;
    color: vars.$lightColor;
  }

  #light-mode {
    background-color: vars.$lightColor;
    color: vars.$darkColor;
  }
}
